* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap:wrap;
    margin-top: 2%;
    color: black;
    margin-top: 5%;
}
.main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; /* Center elements horizontally */
    align-items: center;
    padding: 60px;
    background: rgb(44, 44, 44);
    color: #d8c4c4;
}
.links {
    margin-left: auto; /* Pushes the links section to the right */
    margin-top: 20px; /* Optional: adds some space from the top */
    padding: 10px; /* Adds space around the items */
}

.card {
    flex: 1 0 0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.card header {
    padding: 20px;
margin-bottom: 16px;
    background: rgb(244, 193, 10);
    color: #fff;
}
.card img {
    width: 100%;
    min-width: 400px;
}
.text-right {
    text-align: right;
}
li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none
}
button {
    padding: 10px 15px;
    background-color: gray ;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: whitesmoke; /* Slightly darker on hover */
}
.text-center {
    text-align: center;
}

h1{
    color: rgb(244, 193, 10);
    font-style: italic;
}

footer{
    background:rgb(44, 44, 44);
    color: rgb(244, 193, 10);
}