* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background:rgb(44, 44, 44);
    color: #d8c4c4;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background:  rgb(244, 193, 10); /* #6d7a21; */
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }
  
  .text-right {
    text-align: right;
  }

  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  .smallbutton{
    width:20px;
    border:none;
  }

  .addtocart{
    margin-left:10px;
  }

  .qtytxt{
    /* border-width: 0px; */
    /*border:none; */
    /* outline:none; */
    width:25px;
  }

  .text-center {
    text-align: center;
  }

  h1{
    color: rgb(244, 193, 10);
    font-style: italic;
  }

  footer{
    background:rgb(44, 44, 44);
    color: rgb(244, 193, 10);
  }